<div class="grid_8">

	<h1>Invite a friend</h1>
		
	<p>The specified email adress will receive an email with an invite code. The email will include instructions on how to sign up for Versionize by using this code</p>
		
	<%= form_for [@current_user, @invite] do |f| %>
		
		<%= f.text_field :to_email, :value => "Recipient Email adress", :class => "input_box input_link",
		 	:onFocus => "if(this.value==this.defaultValue) this.value='';", 
			:onBlur => "if(this.value=='') this.value=this.defaultValue;" %><br /><br />
				
		<%= submit_tag 'Send invitation' %>

	<% end %>
	
</div>
<div class="grid_4">
	
</div>
<div class="clear"></div>
