<% if defined? drag %>
	<div class="idea_item_icon background_color<%= color %>">
		<%= image_tag "drag_icon.png", :class => "drag_item", 
																	 :"data-idea" => idea_id, 
																	 :"data-item" => item_id, 
																	 :"data-item-type" => item_type %>
	</div>
<% end %>

<% if defined? edit_path %>																			
	<div class="idea_item_icon background_color<%= color %>">
		<%= link_to image_tag("edit_icon.png"), edit_path %>
	</div>
<% end %>