<div id="media_box">
	<ul>
		<li id="text"><%= link_to "Text", new_text_branch_or_master_path(idea, branch)%></li>
		<li id="image"><%= link_to "Image", new_image_branch_or_master_path(idea, branch) %></li>
		<li id="link"><%= link_to "Link", new_link_branch_or_master_path(idea, branch)%></li>
		<li id="video"><%= link_to "Video", new_video_branch_or_master_path(idea, branch)%></li>
		<div class="clear"></div>
	</ul>
</div>