<div id="media_box">
	<ul>
		<li id="text"><%= link_to "Text", new_idea_version_text_path(idea, version.alias)%></li>
		<li id="image"><%= link_to "Image", new_idea_version_image_path(idea, version.alias) %></li>
		<li id="link"><%= link_to "Link", new_idea_version_link_path(idea, version.alias)%></li>
		<li id="video"><%= link_to "Video", new_idea_version_video_path(idea, version.alias)%></li>
		<div class="clear"></div>
	</ul>
</div>