<div id="media_box">
	<ul>
		<li id="text"><%= link_to "Text", new_idea_branch_text_path(idea, branch)%></li>
		<li id="image"><%= link_to "Image", new_idea_branch_image_path(idea, branch) %></li>
		<li id="link"><%= link_to "Link", new_idea_branch_image_path(idea, branch)%></li>
		<li id="video"><%= link_to "Video", new_idea_branch_image_path(idea, branch)%></li>
		<div class="clear"></div>
	</ul>
</div>