<div id="new_user">
	<div class="tip_box background_color5" id="tip_box1">
		<h3>You have lots of ideas</h3>
		<p>Versionize is a place for you to capture these ideas and continuously improve and revise them by adding text, images and links.</p>
	</div>
	<div class="tip_box background_color4"  id="tip_box2">
		<h3>Collaborate</h3>
		<p>Add collaborators to your ideas to work in groups. You can create different branches for each person so you don't overwrite each others work.
	</div>
	<div class="tip_box background_color3"  id="tip_box3">
		<h3>Don't worry</h3>
		<p>We automatically save you versions along the way, so you never loose anything, even if you delete it.
	</div>
	<div class="clear"></div>
</div>