<div class="grid_8">
	<h1>You have <%= pluralize(@ideas.count, 'idea') %></h1>
</div>
<div class="grid_4">
	<p><%= link_to "Begin idea", new_idea_path, :class => "box_link" %></p>
</div>
<div class="clear"></div>

<div class="grid_12 dotted_line_small"></div>

<div class="grid_8">
	<ul class="idea_list">
			
	<% @ideas.each_with_index do |idea, i| %>
		<li>
			<% c = idea.is_owner?(@current_user) ? "owner" : "collaborator" %>
			<%= link_to idea.name, idea_url(idea), :class => c %>
		</li>
	<% end %>
	</ul>
</div>
<div class="grid_4">
	<p class="tip">This is your list of ideas. Create an idea when you need a place to document a hunch, you need to collect a bunch of inspirational links or images into a central place, or as a starting point for group work. You can keep adding content to an idea, and you can always go back in history to see older versions of your idea.</p>	
</div>
<div class="clear"></div>