<div class="grid_8">

<% form_for @idea, :url => {:action => "create"} do |f| %>

<p><%= f.text_field :name, :value => "Idea name", :class => 'input_box input_name',
 	:onFocus => "if(this.value==this.defaultValue) this.value='';", 
	:onBlur => "if(this.value=='') this.value=this.defaultValue;" %></p>

<p><%= text_area_tag 'text', "Idea description", :class => 'input_box input_text' %></p>

<p><%= submit_tag 'Create idea' %></p>

<% end %>

</div>
<div class="grid_4">
	Help text here
</div>
<div class="clear"></div>