<h1>New Idea</h1>

<% form_for @idea, :url => {:action => "create"} do |f| %>

<p><%= f.label :name %><br />
<%= f.text_field :name %></p>

<p>[a bunch of other idea stuff here]</p>

<p><%= submit_tag 'Create idea' %></p>

<% end %>