<div class="grid_8">

<% form_for @idea, :url => {:action => "create"} do |f| %>

<%= f.text_field :name, :value => "Idea name", :class => 'input_box input_name',
 	:onFocus => "if(this.value==this.defaultValue) this.value='';", 
	:onBlur => "if(this.value=='') this.value=this.defaultValue;" %>

<%= text_area_tag :description, "Idea description", :class => 'input_box input_text',
 		:onFocus => "if(this.value==this.defaultValue) this.value='';", 
		:onBlur => "if(this.value=='') this.value=this.defaultValue;" %>
		
<div id="media_box">
	<ul>
		<li><%= link_to_function("Add link", "add_formfield(this, \"#{escape_javascript(render :partial => "link", :locals => {:field_value => 'http://'})}\")") %></li>
	</ul>
	<div class="clear"></div>
</div>

<div id="extras">
</div>

<p><%= submit_tag 'Create idea' %></p>

<% end %>

</div>
<div class="grid_4">
	Help text here
</div>
<div class="clear"></div>