<div class="grid_12">
	<h1>Begin Idea</h1>
</div>
<div class="grid_12 dotted_line_small"></div>

<div class="grid_8">	
	
<% form_for @idea, :url => {:action => "create"} do |f| %>

<%= f.text_field :name, :value => "Name", :class => 'input_box input_name',
 	:onFocus => "if(this.value==this.defaultValue) this.value='';", 
	:onBlur => "if(this.value=='') this.value=this.defaultValue;" %>

<%= text_area_tag :description, "Short abstract", :id => "description_field", :class => 'input_box input_text',
 		:onFocus => "if(this.value==this.defaultValue) this.value='';", 
		:onBlur => "if(this.value=='') this.value=this.defaultValue;" %>
		
<p>Once you've saved these basic details, you can start adding more content to your idea. We will even save versions along the way!</p>

<p><%= submit_tag 'Create idea' %></p>

<% end %>

</div>
<div class="grid_4">
	<div class="tip">
		Choose a name for your idea
	</div>
	<div class="tip">
		Write a short text describing the idea in less than <span id="countdown"></span> characters. Don't worry, this can always be changed later. 
	</div>
</div>
<div class="clear"></div>