<div class="grid_8">
	
	<h1><%= @idea.name %></h1>

	<p><%= @text %></p>
	
</div>
<div class="grid_4">
	
	<p>Create a new version / edit</p>
	
	<p>[idea revisions]</p>
</div>
<dic class="clear"></div>