<div class="grid_8">
	
	<h1><%= @idea.name %></h1>

	<p><%= @repo.commits.first.tree.contents.first.data %></p>
	
</div>
<div class="grid_4">
	
	<p><%= link_to "Create a new version / edit", edit_idea_path, :class => "link_button" %></p>
	
	<p>Number of commits: <%= @repo.commits.count %></p>
</div>
<dic class="clear"></div>