body, html {
	height: 100%;
}

/* Fonts
_____________________________________________ */

body {
	font-family: Helvetica, Arial, Verdana;
	font-size: 15px;
	color: #1b1b1b;
}

p {
	margin: 12px 0px;
	line-height: 22px;
}

a {
	color: #3f6d2c;
}

a.box_link {
	font-size: 18px;
	font-weight: bold;
	background-color: #d25245;
	color: #FFF;
	text-decoration: none;
	padding: 10px 15px;
}

h1 {
	font-size: 40px;
	margin-bottom: 12px;
}

h2 {
	font-size: 17px;
	margin-top: 24px;
	margin-bottom: 12px;
}

p.tip {
	color: #6a7a92;
	font-size: 13px;
	margin: 0;
}

ul.idea_list li {
	font-size: 24px;
	margin-bottom: 15px;
}

ul.idea_list li a.collaborator {
	color: #c5546d;
}

/* Idea media
_____________________________________________ */

div.idea_item {
	padding-bottom: 20px;
	margin-bottom: 10px;
	line-height: 16px;
	background: url('../images/dot_small.jpg');
	background-repeat: repeat-x;
	background-position: bottom left;
}

div.item_link {
	font-size: 22px;
}

p#version_text {
	font-size: 18px;
	font-weight: bold;
	padding-top: 6px;
	text-align: right;
}

p#add_collaborator {
	text-align: right;
}

div#description 
{
	font-weight: bold;
	line-height: 22px;
	margin-bottom: 10px;
}

div.edit_item {
	text-align: right;
	font-size: 12px;
}

div.edit_item a {
	color: #909090;
	text-decoration: none;
}

div.edit_item a.destroy {
	color: #d25245;
}

/* Idea version boxes
_____________________________________________ */

.version_box {
	display: block;
	padding-left: 10px;
	height: 26px;
	background-color: #6c6a69;
	margin-bottom: 10px;
	color: #FFF;
	font-weight: bold;
	line-height: 26px;
	text-decoration: none;
}

.color1 {
	background-color: #d25245;
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
}

.color2 {
	-webkit-transform: rotate(1deg);
	-moz-transform: rotate(1deg);
	background-color: #dcb954;
}

.color3 {
	-webkit-transform: rotate(-1deg);
	-moz-transform: rotate(-1deg);
	background-color: #6c6a69;
}

.color4 {
	-webkit-transform: rotate(1deg);
	-moz-transform: rotate(1deg);
	background-color: #6a7a92;
}

.color5 {
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	background-color: #3e6d35;
}

.color6 {
	background-color: #3f3333;
}

.color7 {
	background-color: #282828;
}

.color8 {
	-webkit-transform: rotate(1deg);
	-moz-transform: rotate(1deg);
	background-color: #c5546d;
}

.color9 {
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	background-color: #544848;
}

/* Insert media box styling
_____________________________________________ */

#media_box {
	background-color: #e5e5e5;
	margin-bottom: 20px;
}

#media_box ul li {
	height: 30px;
	line-height: 30px;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 5px;;
	background-color: #dedede;
}

#media_box ul li a {
	color: #6a7a92;
	font-weight: bold;
	text-decoration: none;
}

#media_box ul li:hover a {
	color: #ffffff;
}

#media_box ul li:hover {
	background-color: #d25340;
}

#media_box ul li {
	color: #969696;
}

#media_box ul li:first-child:hover {
	background-color: #dedede;
}

/* Form styling
_____________________________________________ */

.input_box {
	background-color: #FFFFFF;
	border: 2px solid #dedede;
	font-family: Helvetica, Arial, Verdana;
}

.input_box:focus {
	border: 2px solid #e4ecf9;
}

.input_name {
	width: 608px;
	height: 47px;
	padding-left: 12px;
	font-size: 26px;
	color: #323232;
}

.input_text {
	width: 596px;
	height: 150px;
	padding: 12px;
	font-size: 15px;
	color: #323232;
	margin: 12px 0px;
}

.input_link {
	width: 608px;
	height: 32px;
	padding-left: 12px;
	font-size: 19px;
	color: #323232;
	margin-top: 12px;
}

/* Header
_____________________________________________ */

#header {
	height: 42px;
	margin-top: 12px;
	margin-bottom: 48px;
}

#logo {
	float: left;
}

#contact_message {
	color: #999999;
	margin-left: 40px;
	line-height: 42px;
	height: 42px;
	float: left;
}

#contact_message a {
	color: #999999;
}

/* Notice
_____________________________________________ */

#notice {
	padding: 20px 0px 20px 0px;
	background-color: #3f6d2c;
	color: #ffffff;
	font-size: 18px;
	width: 100%;
	text-align: center;
}

/* Error
_____________________________________________ */

#error {
	padding: 20px 0px 20px 0px;
	background-color: #d25340;
	color: #ffffff;
	font-size: 18px;
	width: 100%;
	text-align: center;
}

/* Front
_____________________________________________ */

#front_container {
	height: 100%;
}

#front_logo {
	margin-top: 175px;
}

#front_text {
	margin-top: 33px;
}

#front_join {
	margin-bottom: 6px;
	font-size: 13px;
	color: #999999;
}

#front_twitter_green a,
#front_twitter_green a:hover,
#front_twitter_green a:link,
#front_twitter_green a:visited {
	color: #80a400;
	text-decoration: none;
}

#front_boxes {
	height: 100%;
	background-image: url('../images/front_boxes.jpg');
	background-position: top;
	background-repeat: repeat-y;
}

/* Front form stuff
_____________________________________________ */

.front_input {
	width: 370px;
	height: 43px;
	padding-left: 10px;
	background-color: #e6e7e6;
	border: none;
	border-bottom: 5px solid #999999;
	font-size: 17px;
}

.front_input_submit {
	font-size: 13px;
	color: #ffffff;
	font-weight: bold;
	width: 68px;
	height: 30px;
	background: url('../images/input_submit.jpg') no-repeat;
    border: none;
	margin-top: 11px;
	float: right;
}

.front_input_password {
	margin-top: 12px;
}

.front_input_remember {
	border: none;
	margin-left: 180px;
	margin-top: 20px;
}

.front_input_remember_label {
	font-size: 13px;
	color: #25331f;
	font-weight: bold;
}

.front_input_login {
	font-size: 13px;
	color: #ffffff;
	font-weight: bold;
	width: 72px;
	height: 30px;
	background: url('../images/input_login.jpg') no-repeat;
  border: none;
	margin-left: 10px;
}

/* Dotted lines
_____________________________________________ */

.dotted_line_big {
	height: 7px;
	background: url('../images/dot_big.jpg');
	background-repeat: repeat-x;
	margin-bottom: 20px;
}

.dotted_line_small {
	height: 5px;
	background: url('../images/dot_small.jpg');
	background-repeat: repeat-x;
	margin-bottom: 20px;
}
