body, html {
	height: 100%;
}

/* Fonts
_____________________________________________ */

body {
	font-family: Helvetica, Arial, Verdana;
	font-size: 14px;
	color: #1b1b1b;
}

p {
	margin: 12px 0px;
	line-height: 22px;
}

a {
	color: #3f6d2c;
}

a.link_button {
	font-size: 18px;
	font-weight: bold;
	
}

h1 {
	font-size: 20px;
	margin-bottom: 12px;
}

/* Header
_____________________________________________ */

#header {
	height: 42px;
	margin-top: 12px;
	margin-bottom: 48px;
}

/* Notice
_____________________________________________ */

#notice {
	padding: 10px 5px 10px 5px;
	background-color: #3f6d2c;
	color: #ffffff;
	margin-bottom: 12px;
}

/* Error
_____________________________________________ */

#error {
	padding: 10px 5px 10px 5px;
	background-color: #d25340;
	color: #ffffff;
	margin-bottom: 12px;
}



/* Front
_____________________________________________ */

#front_container {
	height: 100%;
}

#front_logo {
	margin-top: 175px;
}

#front_text {
	margin-top: 33px;
}

#front_twitter {
	margin-top: 33px;
	font-weight: bold;
}

#front_twitter_green a,
#front_twitter_green a:hover,
#front_twitter_green a:link,
#front_twitter_green a:visited {
	color: #80a400;
	text-decoration: none;
}

#front_boxes {
	height: 100%;
	background-image: url('../images/front_boxes.jpg');
	background-position: top;
	background-repeat: repeat-y;
}

.front_input {
	font-size: 15px;
	color: #ffffff;
	font-weight: bold;
	padding-left: 23px;
	width: 276px;
	height: 34px;
	border: none;
}

.input_email {
	background-color: #282828;
	margin-top: 292px;
	margin-left: 80px;
}

.input_password {
	
	background-color: #3f3333;
	margin-top: 31px;
	margin-left: 80px;
	margin-bottom: 28px;
}

.input_remember {
	margin-left: 180px;
	background: #25331f;
	border: none;
}

.input_remember_label {
	font-size: 13px;
	color: #25331f;
	font-weight: bold;
}

.input_login {
	font-size: 13px;
	color: #ffffff;
	font-weight: bold;
	width: 72px;
	height: 30px;
	background: url('../images/input_login.jpg') no-repeat;
    border: none;
	margin-left: 10px;
}