body, html {
	height: 100%;
	line-height: 20px;
}

.container_12 {
	/*background-image: url('../images/grid.jpg');
		background-repeat: repeat-y;*/
}

/* Header
_____________________________________________ */

#header {
	height: 42px;
	margin-top: 20px;
	margin-bottom: 46px;
}

#logo {
	float: left;
}

#contact_message {
	color: #999999;
	margin-left: 40px;
	line-height: 30px;
	height: 30px;
	float: left;
}

#contact_message a {
	color: #999999;
}

/* Fonts
_____________________________________________ */

body {
	font-family: Helvetica, Arial, Verdana;
	font-size: 15px;
	color: #1b1b1b;
}

p {
	margin: 12px 0px;
}

a {
	color: #3f6d2c;
}

a.box_link {
	font-size: 18px;
	font-weight: bold;
	background-color: #d25245;
	color: #FFF;
	text-decoration: none;
	padding: 10px 15px;
}

h1 {
	font-size: 40px;
	margin-bottom: 20px;
}

h2 {
	font-size: 17px;
	margin-top: 24px;
	margin-bottom: 12px;
}

ul.idea_list li {
	font-size: 24px;
	margin-bottom: 15px;
}

ul.idea_list li a.collaborator {
	color: #c5546d;
}

/* Idea media
_____________________________________________ */

div.idea_item {
	margin-bottom: 30px;
}

div.idea_item_icon_container {
	float: left;
	width: 50px;
}

div.idea_item_main {
	float: left;
	width: 570px;
}

div.idea_item_icon {
	width: 25px;
	height: 25px;
}

.idea_item_icon img {
	margin-left: 5px;
	margin-top: 5px;
}

#description .idea_item_icon {
	float: left;
	width: 15px;
	height: 15px;
	padding: 1px;
	margin-right: 6px;
}

#description .idea_item_icon img {
	margin-left: 0px;
	margin-top: 0px;
}

/* Media: Link
_____________________________________________ */

div.item_link {
	font-size: 22px;
}

/* Media: Image
_____________________________________________ */

.idea_item_main img {
	width: 100%;
} 

/* Edit boxes
_____________________________________________ */

div.edit_box {
	font-size: 14px;
	font-weight: bold;
}

/* Sidebar
_____________________________________________ */

.sidebar_box {
	background-color: #f2f2f2;
	color: #7d7d7d;
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	padding: 5px 10px;
}

.sidebar_link {
	display: block;
	background-color: #f2f2f2;
	color: #6a7a92;
	text-decoration: none;
	padding: 5px 10px;
	margin-bottom: 5px;
}

#version_box {
	margin-bottom: 10px;
}

/* Idea version boxes
_____________________________________________ */

.version_box {
	padding: 0px 9px;
	float: left;
	margin-right: 5px;
	display: block;
	height: 26px;
	background-color: #6c6a69;
	margin-bottom: 10px;
	color: #FFF;
	font-weight: bold;
	line-height: 26px;
	text-decoration: none;
}

/* Tip
_____________________________________________ */

div.tip {
	background-color: #f5f5f5;
	padding: 15px;
	color: #c9c9c9;
	font-size: 15px;
	line-height: 22px;
	margin-bottom: 10px;
}

div.tip_highlight {
	color: #FFF;
	background-color: #3e6d35;
}

/* Begin idea
_____________________________________________ */

div.tip_highlight #countdown {
	color: #dcba3c;
}

div#next_tip {
	background-color: #e4ecf9;
	color: #6d7787;
	font-size: 14px;
}


/* Background Colors
_____________________________________________ */

.background_color1 {
	background-color: #d25245;
}

.background_color2 {
	background-color: #dcb954;
}

.background_color2_darker {
	background-color: #b5973f;
}

.background_color3 {
	background-color: #6c6a69;
}

.background_color4 {
	background-color: #6a7a92;
}

.background_color4_darker {
	background-color: #516178;
}

.background_color5 {
	background-color: #3e6d35;
}

.background_color6 {
	background-color: #3f3333;
}

.background_color7 {
	background-color: #282828;
}

.background_color8 {
	background-color: #c5546d;
}

.background_color9 {
	background-color: #544848;
}

/* Font Colors
_____________________________________________ */

.font_color1 {
	color: #d25245;
}

.font_color2 {
	color: #dcb954;
}

.font_color3 {
	color: #6c6a69;
}

.font_color4 {
	color: #6a7a92;
}

.font_color5 {
	color: #3e6d35;
}

.font_color6 {
	color: #3f3333;
}

.font_color7 {
	color: #282828;
}

.font_color8 {
	color: #c5546d;
}

.font_color9 {
	color: #544848;
}

/* Branch box
_____________________________________________ */

/* First Level */

ul#branch_box {
	margin-top: 8px;
}

ul#branch_box li {
	position: relative;
	background-color: #f2f2f2;
	color: #7d7d7d;
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	padding: 5px 10px;
}

/* Second level */

ul#branch_box li ul {
	position: absolute;
	left: 0px;
	top: 30px;
}

ul#branch_box li ul {
	display: none;
}

ul#branch_box li ul li a {
	text-decoration: none;
	color: #FFF;
}

/* Hover */

ul#branch_box:hover {
	background-color: #d25245;
	color: #FFF;
	cursor: pointer;
}

ul#branch_box li:hover ul {
	display: block;
}

ul#branch_box:hover ul li {
	color: #FFF;
	background-color: #d25245;
}

/* Insert media box styling
_____________________________________________ */

#media_box {
	margin-bottom: 40px;
}

#media_box ul li {
	float: left;
	margin-right: 5px;
	width: 100px;
	height: 29px;
	line-height: 29px;
	text-align: center;
}

#media_box ul li a {
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
}

#media_box ul li#text {
	margin-top: 3px;
	-webkit-transform: rotate(1deg);
	-moz-transform: rotate(1deg);
	background-color: #dcb954;
}

#media_box ul li#image {
	-webkit-transform: rotate(-1deg);
	-moz-transform: rotate(-1deg);
	background-color: #d25245;
}

#media_box ul li#link {
	margin-top: 3px;
	-webkit-transform: rotate(1deg);
	-moz-transform: rotate(1deg);
	background-color: #6a7a92;
}

/* Form styling
_____________________________________________ */

.input_box {
	background-color: #FFFFFF;
	border: 2px solid #dedede;
	font-family: Helvetica, Arial, Verdana;
}

.input_box:focus {
	border: 2px solid #e4ecf9;
}

.input_name {
	width: 608px;
	height: 47px;
	padding-left: 12px;
	font-size: 26px;
	color: #323232;
}

.input_text {
	width: 596px;
	height: 150px;
	padding: 12px;
	font-size: 15px;
	color: #323232;
	margin: 12px 0px;
}

#description_field {
	height: 120px;
}

.input_link {
	width: 608px;
	height: 32px;
	padding-left: 12px;
	font-size: 19px;
	color: #323232;
	margin-top: 12px;
}

/* Notice
_____________________________________________ */

#notice {
	padding: 20px 0px 20px 0px;
	background-color: #3f6d2c;
	color: #ffffff;
	font-size: 18px;
	width: 100%;
	text-align: center;
}

/* Error
_____________________________________________ */

#error {
	padding: 20px 0px 20px 0px;
	background-color: #d25340;
	color: #ffffff;
	font-size: 18px;
	width: 100%;
	text-align: center;
}

/* Front
_____________________________________________ */

#front_container {
	height: 100%;
}

#front_logo {
	margin-top: 175px;
}

#front_text {
	margin-top: 33px;
}

#front_join {
	margin-bottom: 6px;
	font-size: 13px;
	color: #999999;
}

#front_twitter_green a,
#front_twitter_green a:hover,
#front_twitter_green a:link,
#front_twitter_green a:visited {
	color: #80a400;
	text-decoration: none;
}

#front_boxes {
	height: 100%;
	background-image: url('../images/front_boxes.jpg');
	background-position: top;
	background-repeat: repeat-y;
}

/* Front form stuff
_____________________________________________ */

.front_input {
	width: 370px;
	height: 43px;
	padding-left: 10px;
	background-color: #e6e7e6;
	border: none;
	border-bottom: 5px solid #999999;
	font-size: 17px;
}

.front_input_submit {
	font-size: 13px;
	color: #ffffff;
	font-weight: bold;
	width: 68px;
	height: 30px;
	background: url('../images/input_submit.jpg') no-repeat;
    border: none;
	margin-top: 11px;
	float: right;
}

.front_input_password {
	margin-top: 12px;
}

.front_input_remember {
	border: none;
	margin-left: 180px;
	margin-top: 20px;
}

.front_input_remember_label {
	font-size: 13px;
	color: #25331f;
	font-weight: bold;
}

.front_input_login {
	font-size: 13px;
	color: #ffffff;
	font-weight: bold;
	width: 72px;
	height: 30px;
	background: url('../images/input_login.jpg') no-repeat;
  border: none;
	margin-left: 10px;
}

/* Dotted lines
_____________________________________________ */

.dotted_line_big {
	height: 7px;
	background: url('../images/dot_big.jpg');
	background-repeat: repeat-x;
}

.dotted_line_small {
	height: 5px;
	background: url('../images/dot_small.jpg');
	background-repeat: repeat-x;
	margin-bottom: 22px;
}

/* Drag / Drop box
_____________________________________________ */

#drop_box {
	border-color: #c8c8c8;
	border-style: dashed;
	border-width: 2px;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
}

#drop_box #placeholder {
	width: 100%;
	text-align: center;
	color: #c8c8c8;
	font-size: 14px;
	font-weight: bold;
}

.drop_box_item {
	background-color: #6c6a69;
	height: 18px;
	padding: 5px;
	color: #FFF;
	font-size: 13px;
	line-height: 18px;
	margin-bottom: 5px;
}
