<div class="grid_8">
<h1>Welcome <%= @current_user.email %></h1>
<p>You have <%= @current_user.ideas.count %> <%= link_to "Ideas", ideas_path %></p>
</div>
<div class="grid_4">
	<%= link_to "Create a new idea", new_idea_path, :class => "link_button" %>
</div>
<div class="clear"></div>