<div class="idea_item">
<% if link.file_extension == ".jpg" || link.file_extension == ".gif" %>
	<%= image_tag link.url %>
<% else %>
	<%= link_to link.url, link.url %>
	<%= link_to "Edit", edit_idea_link_path(@idea, link.id) %>
<% end %>
</div>