<div class="grid_12">
	
<h2>Edit Link</h2>

<%= form_tag link_branch_or_master_path(@idea, @branch, @link), :method => :put do %>

	<%= text_area_tag :url, @link.url, {:class => "input_box input_link"} %>
	<br /><br />
	<%= submit_tag 'Save link' %>
	
<% end %>

</div>
<div class="clear"></div>