<div class="grid_12">

<h1>Add link to idea</h1>

<p>Tip: Try saving a link to an image</p>

<%= form_for [@idea, "branch", @link] do |f| %>

	<%= f.text_field :url, {:value => 'http://', :class => "input_box input_link"} %>
	<br /><br />
	<%= submit_tag 'Save' %>
	
<% end %>

</div>
<div class="clear"></div>