<div class="grid_12">

<h1>Add link to idea</h1>

<p>Tip: Try saving a link to an image</p>

<%= form_tag links_branch_or_master_path(@idea, @branch) do %>

	<%= text_field_tag :url, 'http://', {:class => "input_box input_link"} %>
	<br /><br />
	<%= submit_tag 'Save' %>
	
<% end %>

</div>
<div class="clear"></div>