<div class="grid_12">
	<h1>Public ideas</h1>
</div>
<div class="clear"></div>

<div class="grid_12 dotted_line_small"></div>
<div class="grid_9">
	
	<ul class="idea_list">
	<% @ideas.each_with_index do |idea, i| %>
		<li>
			<%= link_to idea.name, idea_url(idea), :class => "font_color4" %><br />
			<div class="users_list">
			<% idea.users.each do |user| %>
				<%= user.name %> 
			<% end %>
			</div>
		</li>
	<% end %>
	
</div>
<div class="grid_3">
	
	<div class="message_box">This is a list of all public ideas on Versionize.</div>
	
</div>
<div class="clear"></div>
	
	
