<div class="grid_8">
	<h1>Collaborators</h1>
</div>
<div class="grid_4">
	
</div>
<div class="clear"></div>

<div class="grid_12 dotted_line_small"></div>

<div class="grid_8">
	
	<ul class="idea_list">
		<% @users.each_with_index do |user, i| %>
			<li><%= user.email %> <% if @collaborations[i].owner %>[owner]<% end %>
		<% end %>
	</ul>
	
</div>
<div class="grid_4">
	<p>
	<%= form_for [@idea, @idea.collaborations.new] do %>
		
		<%= text_field_tag :email, "Email address", {
		 	:onFocus => "if(this.value==this.defaultValue) this.value='';", 
			:onBlur => "if(this.value=='') this.value=this.defaultValue;"} %>
				
		<%= submit_tag 'Add collaborator' %>

	<% end %>
	</p>
	
	<p class="tip">Each idea can have many collaborators. Add a collaborator to give the person access to viewing, editing and updating the idea.</p>	
</div>
<div class="clear"></div>

