<div id="description" class="idea_item">
	
	<div class="grid_8 alpha">
		
		<% 
			locals = {:idea_id => @idea.id, 
								:item_id => text.id, 
								:item_type => "text",
								:color => 10,
								:hide_box => true}
			
			if edit
				locals[:edit_path] = edit_idea_version_text_path(@idea, @version.alias, text)
			end
		%>
		
		<%= render :partial => "ideas/editbox", :locals => locals %>
		
		<%= h(text.body).gsub(/\n/, '<br/>') %>
		<div class="clear"></div>
	</div>
	<div class="grid_1 omega">
		
	</div>
	<div class="clear"></div>
</div>