<div id="description" class="idea_item">
	
	<div class="grid_8 alpha">
		<% if edit %>
			<%= render :partial => "ideas/editbox", :locals => {:idea_id => @idea.id, 
																													:item_id => text.id, 
																													:item_type => "text",
																													:edit_path => edit_text_branch_or_master_path(@idea, @branch, text),
																													:color => 10} %>
		<% end %>
		<%= h(text.body).gsub(/\n/, '<br/>') %>
		<div class="clear"></div>
	</div>
	<div class="grid_1 omega">
		
	</div>
	<div class="clear"></div>
</div>