<div id="description" class="idea_item">
	<%= h(text.body).gsub(/\n/, '<br/>') %>
	
	<% if edit %>
		<div class="edit_item">
			<%= image_tag "draggable.jpg", :class => "drag_item", :"data-idea" => @idea.id, :"data-item" => text.id, :"data-item-type" => "text" %>
			<%= link_to "Edit", edit_idea_text_path(@idea, text.id) %>
		</div>
	<% end %>
</div>