<div class="idea_item">
	<div class="grid_8 alpha">
		<div class="idea_item_icon_container">
			<% 
				locals = {:idea_id => @idea.id, 
									:item_id => text.id, 
									:item_type => "text",
									:color => 2}
				
				if edit
					locals[:edit_path] = edit_idea_version_text_path(@idea, @version.alias, text)
					locals[:drag] = true
				end
			%>
			
			<%= render :partial => "ideas/editbox", :locals => locals %>
		</div>
		<div class="idea_item_main">
			<%= h(text.body).gsub(/\n/, '<br/>') %>
		</div>
		<div class="clear"></div>
	</div>
	<div class="grid_1 omega">
		
	</div>
	<div class="clear"></div>
</div>