<div class="grid_12">
	
<h1>Edit Text</h1>

<%= form_for [@idea, @text] do |f| %>

	<%= f.text_area :body, {:class => "input_box input_text"} %>
	<br /><br />
	<%= submit_tag 'Save text' %>
	
<% end %>

</div>
<div class="clear"></div>