<div class="grid_12">

<h1>Add text to idea</h1>

<%= form_for [@idea, @text] do |f| %>

	<%= f.text_area :body, {:value => 'Write your text here', :class => "input_box input_text"} %>
	<br /><br />
	<%= submit_tag 'Save' %>
	
<% end %>

</div>
<div class="clear"></div>