<div class="grid_12">

<h1>Add text to idea</h1>

<%= form_tag texts_branch_or_master_path(@idea, @branch) do %>

	<%= text_area_tag :body, 'Write your text here', {:class => "input_box input_text"} %>
	<br /><br />
	<%= submit_tag 'Save' %>
	
<% end %>

</div>
<div class="clear"></div>