<div class="idea_item">
	<%= image_tag(image.amazon_url) %>
	
	<% if edit %>
		<div class="edit_item">
			<%= link_to "Destroy", idea_image_path(@idea, image.id), :method => :delete, :class => "destroy" %>
		</div>
	<% end %>
	
	
</div>