<div class="idea_item item_image">
	<div class="grid_8 alpha">
		<div class="idea_item_icon_container">
			<% if edit %>
				<%= render :partial => "ideas/editbox", :locals => {:idea_id => @idea.id, 
																														:item_id => image.id, 
																														:item_type => "image",
																														:edit_path => edit_idea_branch_image_path(@idea, @branch.alias, image),
																														:drag => true,
																														:color => 1} %>
			<% end %>
		</div>
		<div class="idea_item_main">
			<%= image_tag(image.amazon_url) %>
		</div>
		<div class="clear"></div>
	</div>
	<div class="grid_1 omega">
		
	</div>
	<div class="clear"></div>
</div>