<div class="idea_item">
	<%= image_tag(image.amazon_url) %>
	
	<% if edit %>
		<%= render :partial => "ideas/editbox", :locals => {:idea_id => @idea.id, 
																												:item_id => image.id, 
																												:item_type => "image",
																												:drag => true,
																												:color => 3} %>
	<% end %>
	
</div>