<div class="grid_8">
	
<h1>Add image to idea</h1>

<p>Max upload size: 10mb! Let us know if and why you really need more</p>

<% ungulate_upload_form_for(@image_upload) do %>
  <%= file_field_tag :file, :class => "input_box input_link" %><br /><br />
  <%= submit_tag 'Upload' %>
<% end %>

</div>
<div class="grid_4">
</div>
<div class="clear"></div>